/* html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 16px;
  background-color: #004474;
} */

* {
  margin: 0;
}

/* Header styles */

header {
  background: url(assets/header_background_image.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 30px;
  /* height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

header h1 {
  font-family: 'Michroma', sans-serif;
}

header p {
  font-family: 'Questrial', sans-serif;
}

header.accessible {
  background: #80d0ef;
}

/* Styles for main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  font-family: 'Questrial', sans-serif;
}

main input {
  width: 200px;
  height: 30px;
  font-size: 16px;
  font-family: 'Questrial', sans-serif;
  margin: 10px 0 5px 0;
}

main input.accessible {
  border: 2px solid black;
}

main input.accessible::placeholder {
  color: black;
}

/* Vendor-prefixed versions to ensure that input placeholder text
changes color consistently across all browsers */

/* Chrome, Opera, and Safari */
main input.accessible::-webkit-input-placeholder {
  color: black;
}

/*  Firefox 18 and older */
main input.accessible:-moz-placeholder {
  color: black;
}

/*  Firefox 19+ */
main input.accessible::-moz-placeholder {
  color: black;
}

/* Internet Explorer 10-11 */
main input.accessible:-ms-input-placeholder {
  color: black;
}

#array {
  margin: 10px 0;
  max-width: 200px;
  overflow-x: auto;
}

main button {
  width: 200px;
  height: 30px;
  border-radius: 30px;
  font-family: 'Questrial', sans-serif;
  font-size: 16px;
  color: white;
  background-color: #0088ff;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}

main button:hover {
  background-color: #004474;
}

main button:disabled {
  background-color: #9ed0ff;
  cursor: default;
}

main button.accessible {
  background-color: black;
}

main button.accessible:disabled {
  background-color: #505050;
}

#initial-screen, #results-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#initial-screen button:nth-child(3) {
  margin: 5px 0 10px 0;
}

#results-screen p, #results-screen button:nth-child(4) {
  margin: 10px 0 10px 0;
}

table {
  width: 100%;
}

th {
  text-align: left;
  width: 65%;
  padding: 5px 0;
}

td {
  text-align: right;
  padding: 5px 0;
}

th span:hover {
  background-color: pink;
}

/* Styles for modals and other related elements */

#explanation-modal, #add-int-modal, #delete-int-modal {
  background-color: #9eb8c8;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: 'Questrial', sans-serif;
}

#explanation-modal p {
  margin: 0 0 20px 0;
}

#add-int-modal p, #delete-int-modal p {
  margin: 0;
}

#explanation-modal.active, #add-int-modal.active, #delete-int-modal.active {
  display: flex;
}

#darkener {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

#darkener.active {
  display: block;
  pointer-events: all;
}

/* Footer styles */

footer {
  padding: 25px;
  font-family: 'Questrial', sans-serif;
  background-color: #004474;
  color: rgba(255, 255, 255, 0.8);
  height: 300px;
}

footer a {
  color: #00fbff;
}

/* #footer h3, #footer p {
  margin: 0;
}

#footer p {
  font-size: 0.75rem;
  margin-top: 10px;
} */

/* Styles for accessibiliy toggler */

#accessibility-toggler-container {
  position: fixed;
  padding: 10px;
  bottom: 30px;
  right: 20px;
  border: solid black 1px;
  background-color: white;
  font-family: 'Questrial', sans-serif;
  border-radius: 10px;
}

#accessibility-toggler-container p {
  margin-bottom: 5px;
}

/* The switch itself */
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The track */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

/* The knob (the white circle) */
.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

/* Logic: When checked, change background to green */
input:checked + .slider {
  background-color: #4CAF50;
}

/* Logic: When checked, move the knob to the right */
input:checked + .slider:before {
  transform: translateX(15px);
}

@media (min-width: 650px) {
  table {
      width: 60%;
  }

  #footer {
      padding: 25px 75px 25px 75px;
  }
}

@media (min-width: 880px) {
  #footer {
      padding: 25px 125px 25px 125px;
  }
}

@media (min-width: 940px) {
  #footer {
      padding: 25px 200px 25px 200px;
  }
}

@media (min-width: 1080px) {
  #footer {
      padding: 25px 250px 25px 250px;
  }

  #explanation-modal, #add-int-modal, #delete-int-modal {
      width: 40%;
  }
}

@media (min-width: 1120px) {
  #header p {
      width: 25%;
  }

  table {
      width: 40%;
  }
}

@media (min-width: 1170px) {
  #footer {
      padding: 25px 300px 25px 300px;
  }
}

@media (min-width: 1350px) {
  #footer {
      padding: 25px 350px 25px 350px;
  }
}

@media (min-width: 1450px) {
  #footer {
      padding: 25px 450px 25px 450px;
  }

  #explanation-modal, #add-int-modal, #delete-int-modal {
      width: 20%;
  }
}